<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> ShopStore Cafe
    </a>
    <ul>
      <li>
        <a (click) = "handleLoginAction()">Zaloguj</a>
        <a (click) = "handleSignupAction()" >Rejestracja</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Wszelkie prawa zastrzeżone @Jakub Marciniak</h2>
</div>