<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Sellers</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pizza</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Pizza to włoskie danie składające się z zazwyczaj okrągłej, spłaszczonej podstawy z zakwaszonego ciasta pszennego, na
                        którym znajdują się pomidory, ser i często różne inne składniki. Następnie piecze się ją w wysokiej temperaturze,
                        tradycyjnie w piecu opalanym drewnem. Mała pizza jest czasami nazywana pizzettą.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Biryani</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Biryani to mieszane danie z ryżu. Przygotowuje się je z indyjskich przypraw, ryżu i
                        mięsa, zazwyczaj kurczaka, ryby, a czasami dodatkowo jajka lub warzywa, np.
                        ziemniaki w niektórych odmianach regionalnych.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Makaron</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Makaron jest typowym rodzajem żywności wykonanym z niekwaszonego ciasta z mąki pszennej
                        mąki zmieszanej z wodą lub jajkami i uformowanej w arkusze lub inne kształty, a następnie gotowanej przez
                        gotowanie lub pieczenie.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Molten chocolate cake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Molten chocolate cake to popularny deser, który łączy w sobie elementy
                        ciasta czekoladowego i sufletu. Jego nazwa wywodzi się od płynnego czekoladowego środka deseru,
                        i jest również znany jako chocolate moelleux, chocolate lava cake lub po prostu lava cake.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Bądź częścią
                        <br />
                        naszej
                        <br />
                        Kawiarni
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>